
<ion-content>
    <ion-item color="light">
        <ion-avatar class="item item-avatar" slot="start">
          <img src="assets/dc.png">
        </ion-avatar>
        <ion-label>
          <h2>DC Comics</h2>
        </ion-label>
      </ion-item>

      <ion-item>
          <ion-avatar class="item item-avatar" slot="start">
            <img src="assets/marvel.jpg">
          </ion-avatar>
          <ion-label>
            <h2>Marvel Studios</h2>
          </ion-label>
        </ion-item>

        <ion-item color="light">
            <ion-avatar  class="item item-avatar" slot="start">
              <img src="assets/darkhorse.png">
            </ion-avatar>
            <ion-label>
              <h2>Dark Horse Comics</h2>
            </ion-label>
          </ion-item>

          <ion-item >
              <ion-avatar class="item item-avatar" slot="start">
                <img src="assets/viliant.png">
              </ion-avatar>
              <ion-label>
                <h2>Valiant Comics</h2>
              </ion-label>
            </ion-item>

            <ion-item color="light"> 
                <ion-avatar  class="item item-avatar" slot="start">
                  <img src="assets/boom.jpg">
                </ion-avatar>
                <ion-label>
                  <h2>Boom Studios</h2>
                </ion-label>
              </ion-item>

</ion-content>
