ion-content.background {
    --background: -webkit-linear-gradient(left, #69482c, #fad3b1);
    }


.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.testclass{
    font-size: 12px !important;
    }

    #bold {
        font-weight:bold;
    }

    .testclasses{
        font-size: 10px !important;
        }