<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-icon name="arrow-round-back" routerLink='/account/tab2' size="large"></ion-icon>
      </ion-buttons>
    <ion-title>Accessories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>
        <ion-row>
            <ion-col>
                <img src="assets/action_blue.jpg" />

                <div class="ion-item"> 
                    <ion-item text-center lines="none" class="nav-menu" menu-toggel="left" class="item">
                        <ion-label bold>$Price</ion-label>
                      </ion-item>
                    </div>
              </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <img src="assets/action_figure.jpg" />

                
                <div class="ion-item"> 
                    <ion-item text-center lines="none" class="nav-menu" menu-toggel="left" class="item">
                        <ion-label bold>$Price</ion-label>
                      </ion-item>
                    </div>
              </ion-col>
        </ion-row>


        <ion-row>
            <ion-col>
                <img src="assets/greenlight.jpeg" />

                
                <div class="ion-item"> 
                    <ion-item text-center lines="none" class="nav-menu" menu-toggel="left" class="item">
                        <ion-label bold>$Price</ion-label>
                      </ion-item>
                    </div>
              </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <img src="assets/phonecover.webp" />

                
                <div class="ion-item"> 
                    <ion-item text-center lines="none" class="nav-menu" menu-toggel="left" class="item">
                        <ion-label bold>$Price</ion-label>
                      </ion-item>
                    </div>
              </ion-col>
        </ion-row>
        
      </ion-grid>

</ion-content>
