<ion-content>
              <ion-grid>

                    <ion-row>
                      <ion-col>
                        <div> <img src="assets/batman.jpg" />
                            <ion-item text-center lines="none" class="nav-menu" menu-toggel="left" class="item">
                                    <ion-label bold>Some custom text</ion-label>
                                  </ion-item>
                        </div>
                      </ion-col>
                      <ion-col>
                        <div><img src="assets/batman.jpg" />
                            <ion-item text-center lines="none" class="nav-menu" menu-toggel="left" class="item">
                                    <ion-label bold>Some custom text</ion-label>
                                  </ion-item>
                        </div>
                      </ion-col>
                    </ion-row>

                    <ion-row>
                      <ion-col>
                        <div class="ion-item"> 
                            <ion-item text-center lines="none" class="nav-menu" menu-toggel="left" class="item">
                                <ion-label bold>Some custom text</ion-label>
                              </ion-item>
                            </div>
                      </ion-col>
                    </ion-row>

                    <ion-row>
                      <ion-col col-6>
                        <div> 
                                <ion-item text-center lines="none" class="nav-menu" menu-toggel="left" class="item">
                                        <ion-label bold>Some custom text</ion-label>
                                      </ion-item>
                                      <ion-item text-center lines="none" class="nav-menu" menu-toggel="left" class="item">
                                            <ion-label bold>Some custom text</ion-label>
                                          </ion-item>
                                          <ion-item text-center lines="none" class="nav-menu" menu-toggel="left" class="item">
                                                <ion-label bold>Some custom text</ion-label>
                                              </ion-item>
                                              <ion-item text-center lines="none" class="nav-menu" menu-toggel="left" class="item">
                                                    <ion-label bold>Some custom text</ion-label>
                                                  </ion-item>
                        </div>
                      </ion-col>
                      <ion-col>
                        <div><img src="assets/batman.jpg" /></div>
                      </ion-col>
                    </ion-row>

                    <ion-row>
                            <ion-col>
                                    <div class="item"> 
                                        <ion-item text-center lines="none" class="nav-menu" menu-toggel="left" class="item">
                                            <ion-label bold>Some custom text</ion-label>
                                          </ion-item>
                                        </div>
                          </ion-col>
                    </ion-row>

                    <ion-row>
                      <ion-col offset-4>
                        <div><img src="assets/batman.jpg" /></div>
                      </ion-col>
                    </ion-row>

                    <ion-row>
                      <ion-col>
                        <div>
                                <div class="item"> 
                                        <ion-item text-center lines="none" class="nav-menu" menu-toggel="left" class="item">
                                            <ion-label bold>Some custom text</ion-label>
                                          </ion-item>
                                        </div>
                        </div>
                      </ion-col>
                      <ion-col offset-4>
                        <div>
                                <div class="item"> 
                                        <ion-item text-center lines="none" class="nav-menu" menu-toggel="left" class="item">
                                            <ion-label bold>Some custom text</ion-label>
                                          </ion-item>
                                        </div>
                        </div>
                      </ion-col>
                    </ion-row>

                    <ion-row>
                      <ion-col>
                        <div><img src="assets/batman.jpg" /></div>
                      </ion-col>
                      <ion-col>
                        <div><img src="assets/batman.jpg" /></div>
                      </ion-col>
                      <ion-col>
                        <div><img src="assets/batman.jpg" /></div>
                      </ion-col>
                    </ion-row>

                  </ion-grid>
</ion-content>
