
<ion-content>
    <ion-button expand="full" fill="outline" color="success"><ion-text slot="start">SHOP OUR DAILY OFFERS</ion-text></ion-button>
    <ion-item lines="none" color="dark">
      <ion-label>CLICK + COLLECT</ion-label>
      <ion-icon name="cart" slot="end"></ion-icon>
      </ion-item>
        <ion-grid>
                <ion-col>
                  </ion-col>
                <ion-row>
                    <ion-col>
                        <img src="assets/sale.jpeg">
                      </ion-col>
                  </ion-row>
            </ion-grid>

            <ion-card>
                <ion-card-header>
                  <ion-card-title>ITEMS ON SALE</ion-card-title>
                </ion-card-header>
              
                <ion-card-content>

                    <ion-grid>
                        <ion-row>
                          <ion-col>
                              <img src="assets/anime_1.JPG" />
                          </ion-col>
                          <ion-col>
                              <img src="assets/anime_2.JPG" />
                          </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <img src="assets/rubie.jpg" />
                            </ion-col>
                            <ion-col>
                                <img src="assets/mask.jpg" />
                            </ion-col>
                          </ion-row>
                          <ion-row>
                              <ion-col>
                                  <img src="assets/shield.jpg" />
                              </ion-col>
                              <ion-col>
                                  <img src="assets/wakandafigure.webp" />
                              </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <img src="assets/action_blue.jpg" />
                                </ion-col>
                                <ion-col>
                                    <img src="assets/dc_1.jpg" />
                                </ion-col>
                              </ion-row>
                      </ion-grid>
                 
                </ion-card-content>
              </ion-card>


</ion-content>
