
<ion-content>
    <ion-button expand="full" fill="outline" color="success"><ion-text slot="start">SHOP OUR DAILY OFFERS</ion-text></ion-button>
    <ion-item lines="none" color="dark">
      <ion-label>CLICK + COLLECT</ion-label>
      <ion-icon name="cart" slot="end"></ion-icon>
      </ion-item>
        <ion-grid>
                <ion-col>
                  </ion-col>
                <ion-row>
                    <ion-col>
                        <img src="assets/sale.jpeg">
                      </ion-col>
                  </ion-row>
            </ion-grid>

            <ion-card>
                <ion-card-header>
                  <ion-card-title>CLOTHING SIZES</ion-card-title>
                </ion-card-header>
              
                <ion-card-content>

                    <ion-grid>
                        <ion-row>
                          <ion-col>
                              <ion-button id="btnLogin" expand="full" >Primary</ion-button>
                          </ion-col>
                          <ion-col>
                              <ion-button  id="btnLogin" expand="full" >Primary</ion-button>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-button expand="full" color="dark" >Primary</ion-button>
                            </ion-col>
                            <ion-col>
                                <ion-button   expand="full"  color="dark" >Primary</ion-button>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                              <ion-col>
                                  <ion-button expand="full" id="btnLogin" >Primary</ion-button>
                              </ion-col>
                              <ion-col>
                                  <ion-button   id="btnLogin"  expand="full" >Primary</ion-button>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <ion-button expand="full"  color="dark">Primary</ion-button>
                                </ion-col>
                                <ion-col>
                                    <ion-button   expand="full"  color="dark">Primary</ion-button>
                                </ion-col>
                              </ion-row>
                      </ion-grid>
                 
                </ion-card-content>
              </ion-card>


</ion-content>
