<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-icon name="arrow-round-back" routerLink='/account' size="large"></ion-icon>
      </ion-buttons>
    <ion-title>Hoddies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <img src="assets/spidermanhood.jpg" />

                <div class="ion-item"> 
                    <ion-item text-center lines="none" class="nav-menu" menu-toggel="left" class="item">
                        <ion-label bold>$Price</ion-label>
                      </ion-item>
                    </div>
              </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <img src="assets/avengershoodie.jpg" />

                
                <div class="ion-item"> 
                    <ion-item text-center lines="none" class="nav-menu" menu-toggel="left" class="item">
                        <ion-label bold>$Price</ion-label>
                      </ion-item>
                    </div>
              </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <img src="assets/flashhoodie.webp" />

                
                <div class="ion-item"> 
                    <ion-item text-center lines="none" class="nav-menu" menu-toggel="left" class="item">
                        <ion-label bold>$Price</ion-label>
                      </ion-item>
                    </div>
              </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <img src="assets/ironmanhoodie.jpg" />

                
                <div class="ion-item"> 
                    <ion-item text-center lines="none" class="nav-menu" menu-toggel="left" class="item">
                        <ion-label bold>$Price</ion-label>
                      </ion-item>
                    </div>
              </ion-col>
        </ion-row>
        
      </ion-grid>
  
</ion-content>
