<ion-content>
        <ion-list>

                <ion-item class="item" (click)="new_in()">
                  <ion-label>NEW IN</ion-label>
                </ion-item>
        
                <ion-item color="light" (click)="accessories()">
                  <ion-label>ACCESSORIES</ion-label>
                </ion-item>
        
                <ion-item class="item" (click)="hoodies()">
                  <ion-label>HODDIES</ion-label>
                </ion-item>
        
                <ion-item color="light" (click)="cosplay()">
                  <ion-label>COSPLAY</ion-label>
                </ion-item>

        </ion-list>
</ion-content>
