<ion-header>
  <ion-toolbar>
    <ion-title>Accessories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>
        <ion-row>
          <ion-col>
             <img src="assets/spiderman.jpg" />
          </ion-col>
          <ion-col>
            <img src="assets/spidermanhood.jpg" />
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="ion-item"> 
                <ion-item text-center lines="none" class="nav-menu" menu-toggel="left" class="item">
                    <ion-label bold>Some custom text</ion-label>
                  </ion-item>
                </div>
          </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
               <img src="assets/cpmarvel.jpg" />
            </ion-col>
            <ion-col>
              <img src="assets/superman.jpg" />
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div class="ion-item"> 
                  <ion-item text-center lines="none" class="nav-menu" menu-toggel="left" class="item">
                      <ion-label bold>Some custom text</ion-label>
                    </ion-item>
                  </div>
            </ion-col>
          </ion-row>

          <ion-row>
              <ion-col>
                <img src="assets/CapMarvel-EndgameProfile.jpg" />
              </ion-col>
              <ion-col>
                <img src="assets/flash.jpg" />
              </ion-col>
              <ion-col>
                <img src="assets/Iron-Man.jpg" />
              </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                  <div class="ion-item"> 
                      <ion-item text-center lines="none" class="nav-menu" menu-toggel="left" class="item">
                          <ion-label bold>Some custom text</ion-label>
                        </ion-item>
                      </div>
                </ion-col>
              </ion-row>


        <ion-row>
          <ion-col>
            <div><img src="assets/flashcosplay.webp" /></div>
          </ion-col>
        </ion-row>

        <ion-row>
                <ion-col>
                        <div class="item"> 
                            <ion-item text-center lines="none" class="nav-menu" menu-toggel="left" class="item">
                                <ion-label bold>Some custom text</ion-label>
                              </ion-item>
                            </div>
              </ion-col>
        </ion-row>

        <ion-row>
          <ion-col offset-4>
            <div><img src="assets/cpamericaguy.jpg" /></div>
          </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                    <div class="item"> 
                        <ion-item text-center lines="none" class="nav-menu" menu-toggel="left" class="item">
                            <ion-label bold>Some custom text</ion-label>
                          </ion-item>
                        </div>
          </ion-col>
    </ion-row>

    <ion-row>
      <ion-col offset-4>
        <div><img src="assets/figures.jpg" /></div>
      </ion-col>
    </ion-row>

        <ion-row>
          <ion-col>
            <div>
                    <div class="item"> 
                            <ion-item text-center lines="none" class="nav-menu" menu-toggel="left" class="item">
                                <ion-label bold>Some custom text</ion-label>
                              </ion-item>
                            </div>
            </div>
          </ion-col>
          <ion-col offset-4>
            <div>
                    <div class="item"> 
                            <ion-item text-center lines="none" class="nav-menu" menu-toggel="left" class="item">
                                <ion-label bold>Some custom text</ion-label>
                              </ion-item>
                            </div>
            </div>
          </ion-col>
        </ion-row>


      </ion-grid>

</ion-content>
